.container {
  max-width: 572px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.home__tasks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* START Task */
.task {
  display: flex;
}

.task__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task__header {
  display: flex;
  justify-content: space-between;
}

.task__checkbox {
  display: flex;
  width: 2rem;
  justify-content: start;
  align-items: start;
}

.task__body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}
.task__date {
  font-size: 14px;
  line-height: 1.25;
}

/* END Task */

/* Modification */
.task__header .completed {
  color: var(--gray-400);
}
.task__content .completed {
  color: var(--gray-300);
}

/* Icons */
.task__important-default,
.task__important-completed,
.task__important-active {
  display: none;
}

.visible {
  display: block;
}

.task__date .completed {
  font-size: 14px;
  line-height: 1.25;
}
