.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__title {
  width: 100%;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
}

.form__container {
  padding: 5px 0.25rem;
  /* flex-direction: column; */
}

.form__inputs {
  gap: 1rem;
  height: 768px;
  background: none;
}
.form__input {
  background: none;
  border: none;
  border-bottom: 1px solid gainsboro;
}
.form__input:focus {
  outline: none;
  background: none;
}

.form__actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.link {
  border: none;
  background: none;
  text-transform: capitalize;
  color: blue;
}

.form__error-message {
  color: red;
  font-weight: 400;
}
